<form>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table class="table" style="text-align: center">
          <thead>
          <tr>
            <th scope="col">Remove</th>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Gender</th>
            <th scope="col">Highest Qualification</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Availiablity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let spec of specialist">
            <td><input type = "checkbox" name = "id" id = {{spec.id}} (change)="pushSpecId(spec.id)"/></td>
            <td>{{spec.id}}</td>
            <td>{{spec.fname}}</td>
            <td>{{spec.lname}}</td>
            <td>{{spec.username}}</td>
            <td>{{spec.password}}</td>
            <td>{{spec.gender}}</td>
            <td>{{spec.highest_qual}}</td>
            <td>{{spec.contact_no}}</td>
            <td>{{spec.is_Avail}}</td>
          </tr>
          </tbody>
        </table>

        <button (click) = "submitResponses()" class = "btn btn-success"> Delete Selected </button>
      </div>
    </div>
  </div>
</form>


<!-- Popup Window using Bootstrap Modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete all selected records?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-alert" (click)="onCloseHandled()" >Cancel</button>
        <button type="button" class="btn btn-primary" (click)="submitResponses()" >Submit</button>
      </div>

    </div>
  </div>
</div>

