<div class = "row">
  <label>First Name</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.fname"/>
  </div>
</div>

<div class = "row">
  <label>Last Name</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.lname"/>
  </div>
</div>

<div class = "row">
  <label>Username</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.username"/>
  </div>
</div>

<div class = "row">
  <label>Password</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.password"/>
  </div>
</div>

<div class = "row">
  <label>Gender</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.gender"/>
  </div>
</div>

<div class = "row">
  <label>Highest Qualification</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.highest_qual"/>
  </div>
</div>

<div class = "row">
  <label>Contact Number</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.contact_no"/>
  </div>
</div>

<div class = "row">
  <label>Available</label>
  <div>
    <input type = "text" [(ngModel)] = "Specialist.is_Avail"/>
  </div>
</div>

<div class = "row">
  <button (click) = submitDetails() class="btn btn-success">Submit</button>
</div>

