<h1>Admin Login</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf = "invalidLogin">{{errorMessage}}</div>

  <div>
    Username : <input type = "text" name = "username" [(ngModel)] = "username">
  </div>

</div>

<div class="container">
  <div class="alert alert-warning" *ngIf = "invalidLogin">{{errorMessage}}</div>

  <div>
    Password : <input type = "password" name = "password" [(ngModel)] = "password">
  </div>

</div>

<div class="container">
  <div class="alert alert-warning" *ngIf = "invalidLogin">{{errorMessage}}</div>

  <div>
    <button (click) = handleLogin() class="btn btn-success">Login</button>
  </div>

</div>

