<div class="heading">
  <h1>Welcome Admin</h1>
</div>

<div class="container">
  <div class="row">
    <div class="form_bg">

      <div class="container">

        <div>
          <button type="button" (click) = addDoctor() class="btn btn-success" style="margin-bottom: 15px">Add Doctor</button>
        </div>

      </div>

      <div class="container">

        <div>
          <button type="button" (click) = addSpecialist() class="btn btn-success" style="margin-bottom: 15px">Add Specialist</button>
        </div>

      </div>

      <div class="container">

        <div>
          <button type="button" (click) = viewDoctor() class="btn btn-success" style="margin-bottom: 15px">View Doctor</button>
        </div>

      </div>

      <div class="container">

        <div>
          <button type="button" (click) = viewSpecialist() class="btn btn-success" style="margin-bottom: 15px">View Specialist</button>
        </div>

      </div>

    </div>
  </div>
</div>


