container {
  position: absolute;
}

.heading{
  text-align: center;
  margin-top: 75px;
  font-family: fantasy;
}

.container button {
  display: block;
  width: 100%;
  margin: 2px;
  text-align: center;
}

body {
  background:#333;
}
.form_bg {
  color:#666;
  padding:20px;
  border-radius:10px;
  position: absolute;
  border:1px solid #fff;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 280px;
}
.align-center {
  text-align:center;
}
