<div class = "row">
    <label>First Name</label>
    <div>
      <input type = "text" [(ngModel)] = "Doctor.fname"/>
    </div>
</div>

<div class = "row">
  <label>Last Name</label>
  <div>
    <input type = "text" [(ngModel)] = "Doctor.lname"/>
  </div>
</div>

<div class = "row">
  <label>Username</label>
  <div>
    <input type = "text" [(ngModel)] = "Doctor.username"/>
  </div>
</div>

<div class = "row">
  <label>Password</label>
  <div>
    <input type = "text" [(ngModel)] = "Doctor.password"/>
  </div>
</div>

<div class = "row">
  <label>Gender</label>
  <div>
    <input type = "text" [(ngModel)] = "Doctor.gender"/>
  </div>
</div>

<div class = "row">
  <label>Highest Qualification</label>
  <div>
    <input type = "text" [(ngModel)] = "Doctor.highest_qual"/>
  </div>
</div>

<div class = "row">
  <label>Contact Number</label>
  <div>
    <input type = "text" [(ngModel)] = "Doctor.contact_no"/>
  </div>
</div>

<div class = "row">
  <label>Available</label>
  <div>
    <input type = "text" [(ngModel)] = "Doctor.is_Avail"/>
  </div>
</div>

<div class = "row">
  <button (click) = submitDetails() class="btn btn-success">Submit</button>
</div>

