.text-align{
  width: 50%;
}

.radio-class{
  float: left;
  clear: none;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 3px 10 5 182px;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

.modal{
  background-color: honeydew;
}

