<form>
      <div class="container">
        <div class = "form-outline mb-4">
          <label class="form-label">First Name</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.fname" name = "dummy"/>
        </div>

        <div class = "form-outline mb-4">
          <label class="form-label">Last Name</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.lname" name = "dummy"/>
        </div>

        <div class = "form-outline mb-4">
          <label class="form-label">Username</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.username" name = "dummy"/>
        </div>

        <div class = "form-outline mb-4">
          <label class="form-label">Password</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.password" name = "dummy"/>
        </div>

        <div class = "form-outline mb-4">
          <label class="form-label">Gender</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.gender" name = "dummy"/>
        </div>

        <div class = "form-outline mb-4">
          <label class="form-label">Highest Qualification</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.highest_qual" name = "dummy"/>
        </div>

        <div class = "form-outline mb-4">
          <label class="form-label">Contact Number</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.contact_no" name = "dummy"/>
        </div>

        <div class = "form-outline mb-4">
          <label class="form-label">Available</label>
          <input class="form-control text-align" type = "text" [(ngModel)] = "Doctor.is_Avail" name = "dummy"/>
        </div>

        <div class = "align-center">
          <button (click) = submitDetails() class="btn btn-success">Submit</button>
        </div>
      </div>
</form>
